:root {
  --main-bgColor: rgb(255, 255, 255);
  --shadow-bgColor: rgb(230, 230, 230);
  --main-fontColor: rgb(130, 130, 130);
  --secondary-heading: ##2b8a3e;
  --secondary-bgColor: #25a244;
  --shadow-color_1: #1a7130;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: rgba(250, 252, 250);
  position: relative;

}

main {
  grid-column: 2/-1;
  margin: 0;
  padding: 0rem 4.8rem;
  overflow: scroll;
  background-color: rgba(250, 252, 250);
}

section {
  display: grid;
}


/* PROFILE */
.profile {
  width: 100%;
  border-radius: 0.5rem;
}

.profile__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 0 2rem;
  font-weight: 400;
  color: var(--main-fontColor);
  border-bottom: 1px solid rgb(230, 230, 230);
}
.ratingError {
  font-size:1.8rem;
}

.profile__information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user__info form{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
  padding: 1rem;
  width: fit-content;
  border-radius: .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  font-size: 1.8rem;
}
.user {
  display: none;
}
.user__image {

}
.label__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.ph-image-fill {
  font-size:3.6rem;
  color:goldenrod
}
.label__user:hover {
  cursor:pointer;
}
.edit__profile,.update__user {
  /* position: absolute;
  top:2rem;
  right: 2rem; */
  padding: 1.6rem;
  width: auto;
  height: 12%;
  color: white;
  background-color: #25a244;
  border-radius: .5rem;
  border: none;
  box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}
.update__user,.edit__profile {
  margin:2rem auto;
}
.edit__profile:link,
.edit__profile:visited {
  color:white;
  text-decoration: none;
}

.edit__profile:hover,
.edit__profile:active,
.update__user:hover,
.update__user:active {
  cursor: pointer;
  background-color: #1a7130;
}

.image__box {
  max-height:25rem;
  overflow:hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.user__default_icon {
  color: rgb(200, 200, 200);
  font-size: 20rem;
  justify-self: center;
  align-self: center;
}

.image__box img {
  max-width: 15rem;
  justify-self: center;
  align-self: center;
  border-radius:1rem;
  overflow:hidden;
}
.image__box input {
  justify-self: center;
  align-self: center;
}

.info__box {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info__box label {
  font-weight: 500;
}

.info__box input {
  height: 3rem;
  border-radius: .5rem;
  border: none;
  background-color: rgb(245, 245, 245);
  outline: none;
  padding: 0 1.2rem;
  color: rgb(150, 150, 150);
  font-weight: 500;
  font-size: 1.6rem
}

.password,
.history__ratings {
  padding: 1rem 0 1rem 0;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
  color: var(--main-fontColor);
  font-size: 1.6rem;
  font-weight: 400;
  border-radius: 0.5rem;
}

.password {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.password label {
  color: var(--secondary-bgColor);
  font-size: 1.2rem;
}

.password div {
  display: flex;
  flex-direction: column;
}

.password input {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  color: var(--main-fontColor);
  outline: none;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: .5rem;
}

.password__change {
  width: 40%;
  padding: 1.2rem;
  border-radius: .5rem;
  color: rgb(255, 255, 255);
  background-color: var(--secondary-bgColor);
  transition: all 0.3s;
  border: none;
}

.password__change:hover {
  background-color: var(--shadow-color_1);
  cursor: pointer;
}
.history__ratings {}
.history__accordion {
  transition: all 0.3s;
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  transition: all 1s;
}

.accordion__hidden {
  display: none;
  transition: all 1s;
}

.show__history:hover {
  cursor: pointer;
  color: rgb(50, 50, 50)
}

.history__card {
  width: 100%;
  background-color: var(--main-bgColor);
  box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.05);
  border-radius: .3rem;
  padding: 2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--main-fontColor);
  transition: all 0.3s
}

.history__card:hover {
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.position__footballer__info {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.footballer__id {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history__card__img {
  width: 5rem;
  border-radius: 0.5rem;
}

.player__rating {
  border-radius: 10rem;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 0.5rem 2rem;
}


.soccer__icons {
  font-size: 2rem;
  color: gold;
}

.edit__rating {
  padding: .8rem;
  color: rgb(255, 255, 255);
  background-color: #25a244;
  outline: none;
  border: none;
  border-radius: .5rem;
  transition: all 0.3s;
  font-weight: 600;
}

.edit__rating:hover {
  cursor: pointer;
  background-color: #1a7130;
}

.form__soccer_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 0 auto;
}

.rate,
.rate__btn {
  font-size: 1.5rem;
  padding: 0.6rem 1rem;
  border: none;
  color: var(--main-fontColor);
  background-color: transparent;
  outline: none;
  background-color: rgb(240, 240, 240);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.rate:hover,
.rate__btn:hover {
  cursor: pointer;
}

.rate__btn {
  font-weight: 500;
  background-color: #25a244;
  color: rgb(255, 255, 255);
}

.rate__btn:hover {
  background-color: var(--shadow-color_1);
}

main {
  height: 100vh;
  width: 100%;
}

.btn__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

